In [5]:
# Todo: sweet viz no final
# Testes estatísticos pra ver se as variáveis explicam o alvo e outros (teste de distribuição, normalidade)
# Criar pipeline pra essa ETL
# Separar ETAPAS de ETL, EDA e modelagem

# EDA (Exploratory Data Analysis)

## 1. Objetivo do notebook

Realizar análise exploratória dos dados respondendo as seguintes perguntas:

- Qual é o comportamento transacional do cliente (o que caracteriza as transações deste cliente)?

- Qual é o perfil das transações que retornaram chargeback?

Além disso, realizar análises 

<u>Outputs</u>: PDF report e imagens em reports

## 2. Carregamento das bibliotecas e dados

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sweetviz as sv

In [7]:
df = pd.read_csv('../data/processed/card_transactions_cbk_prepared.csv')

## 3. Análises por target (CBK)

### 3.1 Comportamento transacional do cliente/solicitante de chargeback

Período do dia

In [8]:
df.head()

,Dia,Valor,Cartão,CBK,periodo_do_dia,dia_da_semana,flag_feriado,bandeira_cartao,emissor_cartao
0,2015-05-01,36.54,536518******2108,0,madrugada,Sexta-feira,1,5,36518
1,2015-05-01,36.54,536518******2108,0,madrugada,Sexta-feira,1,5,36518
2,2015-05-01,69.00,453211******1239,0,madrugada,Sexta-feira,1,4,53211
3,2015-05-01,193.43,548827******1705,0,madrugada,Sexta-feira,1,5,48827
4,2015-05-01,132.00,531681******9778,0,madrugada,Sexta-feira,1,5,31681